/*Index Styles*/


body {
  padding: 3em;
  font-family: 'Allegreya Sans SC', sans-serif;
  font-size: 1em;
}

textarea {
  resize: none;
}

.inlineBlock {
  display: inline-block;
}

.topAligned {
  vertical-align: top;
}